@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("./reset.css");

:root {
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-style: normal;

  --black: #000000;
  --gray900: #191919;
  --gray800: #333333;
  --gray700: #4c4c4c;
  --gray600: #666666;
  --gray500: #7f7f7f;
  --gray400: #999999;
  --gray300: #b2b2b2;
  --gray200: #cccccc;
  --gray100: #e5e5e5;
  --gray50: #f6f6f6;
  --gray10: #fafafa;
  --white: #ffffff;

  --xx-large: 1.5rem;
  --x-large: 1.25rem;
  --large: 1.125rem;
  --medium: 1rem;
  --samll: .875rem;
  --x-small: .625rem;

  --main-color: #FFEA3C;
  --sub-color: #FFFCE3;

  --errors: #FF0045;

}